@import "tailwindcss";


@layer base {
    body {
    @apply min-h-screen text-gray-300 subpixel-antialiased;
    background: var(--bg-gradient);
  }
}

:root {
  --bg-gradient: #ffffff94;
}

/* Default Theme */
.theme-default {
  --bg-gradient: #ffffff94;
}

/* Orange Theme */
.theme-orange {
  --bg-gradient: linear-gradient(to bottom right, #ffffff, #ffedd5, #f97316);
}

/* Teal Theme */
.theme-teal {
  --bg-gradient: linear-gradient(to bottom right, #ffffff, #ccfbf1, #14b8a6);
}

/* Dark Theme */
.theme-dark {
  --bg-gradient: linear-gradient(to bottom, #111827, #1f2937, #030712);
}

/* Midnight Purple */
.theme-midnightPurple {
  --bg-gradient: linear-gradient(to bottom right, #3f0a73, #2d0a4f, #16012b);
}

/* Dusk */
.theme-dusk {
  --bg-gradient: linear-gradient(to bottom, #2C3E50, #8f5992, #FD746C);
  
}

/* Blue Sky */
.theme-blueSky {
  --bg-gradient: linear-gradient(to bottom, #56ccf2, #49a5f0, #2f80ed);
  
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .font-bebas {
    font-family: 'Bebas Neue', sans-serif;
  }
}